<div class="container content-container" style="padding: 0px; margin: 0px; ;">
  <div class="row">
    <div class="offset-md-0.5 col-md-6 px-5">
      <h3>{{ editing ? 'Edit' : 'Add'}} Survey</h3>

      <form #form='ngForm' (ngSubmit)='save(form)'>
        <div class="form-group">
          <label for="surveyNameTextField">Survey Name</label>
          <input type="text" class="form-control" name="name" [(ngModel)]='item.name'>
        </div>

        <div class="form-group">
          <label for="surveyCategoryTextField">Category</label>
          <input type="text" class="form-control" name="author" [(ngModel)]='item.category'>
        </div>


        <br><br>
        <button class="btn btn-info btn-edit-submit" type="submit"><i class="fas fa-edit"></i> Submit</button>
        <a href="/" class="btn btn-secondary btn-edit-cancel">Cancel</a>
        <button *ngIf="editing" class="btn btn-danger btn-edit-delete"><i class="far fa-trash-alt"></i></button>
      </form>
    </div>
  </div>
</div>