
    <%- include partials/portfolio_header.ejs %>
    <%- include partials/nav_main.ejs %>

    <!-- Main Content -->
    <main class="container">
        test
    </main>
      
    <%- include partials/nav_bottom.ejs %>
    <%- include partials/portfolio_footer.ejs %>
