/* You can add global styles to this file, and also import other style files */

.site-logo{
    height: 56px;
    width: 249px;
  }
  
  
  
  .content-container{
    padding-top: 100px;
    max-width: 100vw !important;
  }
  
  /* styling for links in the portfolio (sets default color to black on all states) */
  a.portfolio-link:link {color: black;}      /* unvisited link */
  a.portfolio-link:visited {color: black;}   /* visited link */
  a.portfolio-link:hover {color: black;}     /* mouse over link */
  a.portfolio-link:active {color: black;}    /* selected link */
  
  
  
  [type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:#818181;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }
  [type="submit"]:hover { background:rgb(104, 178, 207); }
  
  .btn-edit-submit{
    width:467px;
    margin: 2.5px !important;
  }
  
  .btn-edit-cancel{
    width:80px;
    height: 38px !important;
    text-align: center;     
    margin: 2.5px !important;
  }
  
  .btn-edit-delete{
    width:80px;
    height: 38px !important;
    margin-top: -5px !important;
    text-align: center; line-height: 40px;
    margin: 2.5px !important;
  }